<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="FindUserHandler" verb="*" path="FindUserHandler" preCondition="integratedMode" type="GooCooServer.Handler.FindUserHandler,GooCooServer" />
      <add name="FindBookHandler" verb="*" path="FindBookHandler" preCondition="integratedMode" type="GooCooServer.Handler.FindBookHandler,GooCooServer" />
      <add name="BorrowHandler"   verb="*" path="BorrowHandler"   preCondition="integratedMode" type="GooCooServer.Handler.BorrowHandler,GooCooServer" />
      <add name="ReturnHandler"   verb="*" path="ReturnHandler"   preCondition="integratedMode" type="GooCooServer.Handler.ReturnHandler,GooCooServer" />
      <add name="DonateHandler"   verb="*" path="DonateHandler"   preCondition="integratedMode" type="GooCooServer.Handler.DonateHandler,GooCooServer" />
      <add name="LoginHandler"    verb="*" path="LoginHandler"    preCondition="integratedMode" type="GooCooServer.Handler.LoginHandler,GooCooServer" />
      <add name="GetUserByOrder"  verb="*" path="GetUserByOrder"  preCondition="integratedMode" type="GooCooServer.Handler.GetUserByOrder,GooCooServer" />
      <add name="GetUserByFavor"  verb="*" path="GetUserByFavor"  preCondition="integratedMode" type="GooCooServer.Handler.GetUserByFavor,GooCooServer" />
      <add name="GetUserByBorrow" verb="*" path="GetUserByBorrow" preCondition="integratedMode" type="GooCooServer.Handler.GetUserByBorrow,GooCooServer" />
      <add name="GetBookByOrder"  verb="*" path="GetBookByOrder"  preCondition="integratedMode" type="GooCooServer.Handler.GetBookByOrder,GooCooServer" />
      <add name="GetBookByFavor"  verb="*" path="GetBookByFavor"  preCondition="integratedMode" type="GooCooServer.Handler.GetBookByFavor,GooCooServer" />
      <add name="GetBookByBorrow" verb="*" path="GetBookByBorrow" preCondition="integratedMode" type="GooCooServer.Handler.GetBookByBorrow,GooCooServer" />
    </handlers>
  </system.webServer>
</configuration>