<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GooCooAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GooCooAdmin.Properties.Settings>
            <setting name="PORT" serializeAs="String">
                <value>11681</value>
            </setting>
            <setting name="CL_NOCHANGE" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="CL_CHANGED" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="CL_DELETED" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="CL_NEW" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="CL_DELNEW" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="CL_BLACK" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="CL_WHITE" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </GooCooAdmin.Properties.Settings>
    </applicationSettings>
</configuration>